body{
    background-color: #1C1C1C;
    color: whitesmoke;
    
}

:root{
    --margin: 2%;  
    --accent-color: #CAFF87; 
}

/* type */
h1{
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vh;
}

h2{
    font-family: bely-display, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4{
    font-family: bely, serif;
    font-weight: 400;
    font-style: normal;
}

p{
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3vh;
}

.button-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.back-button{
    position: relative;
}

.back-button:hover .button-text{
    opacity: 1;
}

.back-button:hover .green-button{
    filter: blur(2px);
    transform: scale(1.3);
}

/* API */



ul {
  list-style-type: none;
}

#contents {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: var(--margin);
  align-items: center;
  justify-items: center;
  padding: 0;
}

img {
  max-width: 8vw;
  /* min-width: 7vw; */
  height: max-content;
}

.block__image:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.5rem var(--accent-color));

}

.block {
  padding: var(--margin);
  width:var(--width), 25%;
}


/* show/hide */

select{
    background-color: #1C1C1C;
    border: none;
    font-family: bely, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3vh;
    color: whitesmoke;
    margin-left: 90vw;
    margin-top: 1%;
    width: auto;
}

/* button functions */
.button-text{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
}

.green-button{
    filter: drop-shadow(0 0 0.5rem var(--accent-color));
}

.back-button{
    position: relative;
    height: fit-content;
    width: fit-content;
    z-index: 3;
    left: 5%;
    top: -3vh;
}

.back-button:hover .button-text{
    opacity: 1;
}

.back-button:hover .green-button{
    filter: blur(2px);
    transform: scale(1.3);
}

a{
    color: white;
    text-decoration: none;
    z-index: 100;
}

a:visited{
    color: white;
    text-decoration: none;
}
