*{
    font-family: neue-haas-unica,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10vh;
    cursor: url('cursor.cur'),auto;
}

body{
padding: 5% 5% 0% 5%;
text-align: center;
overflow: hidden;
}

.next{
    text-align: end;
    font-size: 2vh;
}

a{
    color: darkslateblue;
    text-decoration: none;
}

a:visited{
    color: darkseagreen;
}

a:hover {
    color: cadetblue;
}

.internet, .chokehold, .uncut{
    display: inline-flex;
}

.internet:hover{
    color: rgb(65, 65, 253);
    transform: skew(10deg);
    text-decoration: underline;
}

.chokehold:hover{
    letter-spacing: -0.9vw;
    transform: scale(2);
    color: rgb(75, 14, 4);
    filter: blur(1px);
}

.uncut:hover{
    transform: scale(2);
    color: rgb(114, 18, 204);
    filter: drop-shadow(0 0 0.75rem rgb(212, 0, 255));
}

@media screen and (max-width: 1024px) {
    body{
        background-color: dimgray;
        color: blanchedalmond;
    }

    .internet{
        animation: skew 3s alternate-reverse ease-in-out infinite;
        animation-delay: 2s;
    }

    .chokehold{
        animation: choke 5s alternate-reverse ease-in-out infinite;
        animation-delay: 3s;
    }

    .uncut{
        animation: gemz-2 3s alternate-reverse ease-in-out infinite;
        animation-delay: 4s;
    }
}
@media screen and (max-width: 768px) {
    body{
        background-color: rgb(230, 184, 218);
        color: rgb(255, 227, 248);
    }

    .internet{
        animation: skew 3s alternate-reverse ease-in-out infinite;
        animation-delay: 2s;
    }

    .chokehold{
        animation: choke 5s alternate-reverse ease-in-out infinite;
        animation-delay: 3s;
    }

    .uncut{
        animation: gemz-2 3s alternate-reverse ease-in-out infinite;
        animation-delay: 4s;
    }
}

