/* overall layout */
body{
    background-image: url("fire-bg.gif.crdownload"); background-size: cover;
    /* overflow: hidden; */
}
.container{
    display: inline-flex;
    height: 100vh;
    width: 100vw; 
}

/* sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink:2;
    width: 20vw;
    height: 100vh;
    color: #00ff00;
    background-image: url("fire-bg.png"); background-size: 100%;
    z-index:2;
    align-content: center;
}

/* animating avatar */
@keyframes spin{
    0% {transform: rotateY(0deg);}
    50%{transform: rotateY(150deg);}  
    100%  {transform: rotateY(-150deg);}
}

@keyframes blink {
    50%{opacity: 0;}
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(360deg);}
}
#ubetea{
    width: 70%; max-height: 100%;
    position: relative;
    align-items: center;
    margin-left: 8%; 
    margin-top: 6vh;
    animation: spin 10s infinite; 
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

h2{text-decoration: underline; font-size: 6vh;}
#nav{text-decoration: underline; font-size: 6vh;font-weight: lighter;}

.sidebar-content{
    margin-left: 10%;
    margin-top: 10vh;
}

/* main section */
.content{
    height: 90vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 2;
    min-width: 0;
}
/* animating title */
@keyframes spin-1{
    0% {transform: rotatex(0deg);}
    100%{transform: skew(10deg);}  
}

#title{
    height: 50%; max-width: 70%;
    position: relative;
    animation: spin-1 2s infinite; 
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    flex-shrink: 2;
}

/* hehemj */
.hehemj{
    position: relative;
    display: inline-flex;
    flex-shrink:2;
    animation: rotate 3s infinite; 
    animation-direction: alternate;
    margin-top: -7vh;
}

#heheimg{
    height: 30vh; max-width: 60vw;
}

.caption{
    font-family: Comic Sans Ms, Comic Sans;
    color:#00ff80;
    font-size: 3vh;
    margin-top: 10vh;
}

p{
    font-family: Comic Sans Ms, Comic Sans;
}

#blog{
    color: turquoise;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 3.5vh;
}

#confession{
    height: 50%; max-width: 70%;
    position: relative;
    animation: spin-1 2s infinite; 
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    flex-shrink: 2;
}

#arrow{
    width:20%; max-height:150%;
    margin-top: -4%;
    margin-left: 100%;
}

