body {
	height: 100vh;
	width: 100vw;
	font-family: monospace;
	color: whitesmoke;
	text-align: center;
	background-image: url(starry-bg.gif);
	cursor: url(cursor.png), auto;
}

h2 {
	font-size: 8vh;
}

h2:hover{
	cursor: url(cursor.png), auto;
}

span:hover{
	color: yellowgreen;
	transform: scale(1.5)
}

