body{
    cursor: url(cursor.png), auto;
    font-family: helvetica;
    overflow: hidden;
}

h1{
    font-size: 10vh;
}


/* veli eyes */
.eyes{
    position: absolute;
    align-items: center; 
    transform: matrix(1, -0.15, 0, 1, 40, -200);
    z-index: 2;
  }
  
.eye{
    width: 3.5vh;
    height: 3.5vh;
    background-color: white;
    border: solid black;
    border-width: 0.4em;
    display: inline-flex;
    margin-left: 24px;
    border-radius: 50%;
    position: relative;
    top: 10%;
}
 
.ball{
    width: 2.5vh;
    height: 2.5vh;
    background:black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.eyes-green{
    position: absolute;
    align-items: center; 
    transform: matrix(1, -0.15, 0, 1, 40, -210);
    z-index: 2;
  }
  
.eye-green{
    width: 3.5vh;
    height: 3.5vh;
    background-color: black;
    border: solid #1FCA03;
    border-width: 0.4em;
    display: inline-flex;
    margin-left: 24px;
    border-radius: 50%;
    position: relative;
    top: 10%;
}
  
.ball-green{
    width: 2vh;
    height: 2vh;
    background:#1FCA03;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

#hi {
    text-decoration: underline;
}

#hi:hover{
    transform: scale(1.5);
}

/*buttons*/

button{
    background-color: white;
    border: solid black 0.18em;
    font-size: 10vh;
    padding: 0.5vh 2.5vw;
    text-align: center;
    position: relative;
    font-weight: bold;
    border-radius: 1em;
    text-decoration: none;
}

button:hover{
    background-color: black;
    color: white;
    transform: scale(1.2);
}

/* page 1 */
#page-1{
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

.enter-button{
    width: fit-content;
    height: fit-content;
    padding-top: 20%;
    padding-left: 40%;
    z-index: 10;
    /* background-color: red;  */
}

/* page 2 */
#page-2{
    height: 100vh;
    width: 100vw;
    padding-top: 10%;
    padding-left: 10%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2;
}

/* veli */
#veli-box{
    position: absolute;
    z-index: 100;
    margin-top: 60vh;
    margin-left: 4%;
    height: fit-content;
    width: fit-content;
}

/* page 3 */
#page-3{
    height: 100vh;
    width: fit-content;
    text-align: center;
    z-index: 3;
}

.horz-text{
    display: inline-flex;
}

.horz-text>* {
    width: 100vw;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

/* page 4 */
#page-4{
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 4;
}

.my-int-button{
    width: fit-content;
    height: fit-content;
    padding-top: 20%;
    padding-left: 32%;
    /* background-color: red;  */
}

/* page 5 */

#page-5{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 5;
}

.dragging{
    overflow: hidden;
}

img{
    max-width: 40vw;
    position: absolute;
}

#bratz{
    z-index: 1;
    margin-top: 1%;
    left: 5%;
}

#cp{
    margin-left: 50%;
    z-index: 1;
}

#firewater{
    margin-left: 33%;
    margin-top: 10%;
    z-index: 3;
}

#gp{
    margin-top: 25%;
    left: 60%;
    z-index: 2;
}

#gmail{
    margin-top: 35%;
    left: 10%;
    z-index: 3;
}

#google{
    margin-top: 16%;
    left: 55%;
    z-index: 3;
}

#haircut{
    margin-top: 20%;
    left: 37%;
    z-index: 1;
}

#jenna{
    margin-top: 30%;
    z-index: 2;
}

#lyric{
    margin-top: 0;
    left: 80%;
    z-index: 1;
}

#netflix{
    margin-top: 7%;
    left: 10%;
    z-index: 3;
}

#oyun1{
    margin-top: 30%;
    left: 10%;
    z-index: 1;
}

#pet{
    margin-top: 20%;
    left: 50%;
    z-index: 1;
}

#pop{
    margin-top: 40%;
    left: 70%;
    z-index: 1;
}

#youtube{
    margin-top: 7%;
    left: 2%;
}

#page-5-1{
    height: 100vh;
    width: 100vw;
    z-index: -1;
    text-align: center;
    left: 50%;
}

/* page 6 */
#page-6{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 6;
}

.content{
margin-left: 40%;
margin-right: 1%;
}

#zucc{
    margin-top: 20%;
    right: 1%;
}

/* page-7 */
#page-7{
    height: 100vh;
    width: fit-content;
    z-index: 7;
}

#emoji{
    font-size: 20vh;
    width: 100vw;
}

#emoji:hover{
    transform: scale(1.1);
}


/* page 8 */
#page-8{
    height: 100vh;
    width: 100vw;
    text-align: center;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 8;
}

#part-14{
    text-decoration: underline;
}

/* green veli */
#green-veli-box{
    position: absolute;
    z-index: 11;
    margin-top: -100vh;
    margin-left: 4%;
}

/* page 9 */

#page-9{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: #1FCA03;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 9;
}

#alien{
    font-size: 4.8vh;
    position: relative;
}

#part-15{
    position: relative;
    text-align: right;
    margin-right: 10%;
    transform: translateY(-500%);
}

#warning{
    position: relative;
    right: -40%;
    margin-top: -150vh;
}

/* hide page */
.hide{
    display: none;
}

/* show page */
.show {
    display: block;
}

@keyframes falls {
    from{
        transform: none;
    }

    to{
        transform: matrix(1, 2, -1, 1, 80, 400);
    }
}

.fall{
    animation: falls 5s forwards;
}

.green{
    background-color: black;
    color: #1FCA03;
    z-index: 99;
}

.bye{
    animation: falling 4s forwards ease;
}

@keyframes falling {
    from{transform: none;}
    to{transform: matrix(-3,1,-2,1,1000,1000);}
}