*{
  font-family: roc-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* background-color: #6C5044; */
  color: #EAE7E7;
  overflow-x: hidden;
}

body{
  background-color: #6C5044;
}


/* title setup*/
h1, .the, .new, .art, .of, .making, .books{
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20vh;
}

.title-container{
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-top: -10%;
  overflow-wrap: break-word;
  overflow-y: hidden;
}

/* title animation */
.the{
  opacity: 0;
  animation: textenter 3s;
  animation-delay: 1.0s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.new{
  opacity: 0;
  animation: textenter 3s;
  animation-delay: 1.2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.art{
  opacity: 0;
  animation: textenter 3s;
  animation-delay: 1.4s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.of{
  opacity: 0;
  animation: textenter 3s;
  animation-delay: 1.6s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.making{
  opacity: 0;
  animation: textenter 3s;
  animation-delay: 1.8s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.books{
  opacity: 0;
  animation: textenter 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.names{
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: -10% 1% 0% 3%;
  margin-left: 3%;
  margin-right: 1%;
  opacity: 0;
  animation: textenter 3s;
  animation-delay: 3s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
h3{
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 5vh;
}
h4{
  font-family: roc-grotesk, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2vh;
}
#themis{
  margin-top: 6%;
}
/* creating dividers */
.section-divider{
  height: 40vh;
  width: 100vw;
}
.content-divider{
  height: 20vh;
  width: 100vw;
}
/* section title */
.section-title{
  width: 100vw;
  height: 100vh;
  margin-left: -4%;
}
.section-title:hover{
  transform: skewX(10deg);
}
h2{
  font-family: roc-grotesk-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15vh;
  text-align: end;
}
/* horizontal section content */
::-webkit-scrollbar {
  width: 0vw;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a2d28; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e5348; 
}

#white-wrap{
  background-color: #EAE7E7;
  z-index: -1;
  height: 100%;
  width: 100vw;
  overflow: auto;
}

.horz-container{
  display:block;
  width:100%;
  height:100vw;
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-100vh);
  transform-origin:right top;
}
.horz-container > div{
  display:block;
  transform:rotate(90deg);
  transform-origin: right top;
}
.horz-content > div{
  width:100vh;
  height:100vw;
  text-align: left;
  align-content: center;
}

p{
  font-size: 6vh;
  font-family: roc-grotesk, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #6e5348;
}

/* prose */

/* animations */
@keyframes textenter{
  from{opacity: 0%;}
  to{opacity: 100%;}
}
/* transitions */
.reveal{
  position: relative;
  transform: translateY(10vh);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.slide{
  position: relative;
  transform: translateX(10vw);
  opacity: 0;
  transition: 2s all ease;
}

.slide.active{
  transform: translateX(-10vw);
  opacity: 1;
}

.slide-horz{
  position: relative;
  transform: translateX(10vw);
  opacity: 0;
  transition: 2s all ease;
}

.slide-horz.active{
  transform: translateX(0vw);
  opacity: 1;
}

.reveal-horz{
  position: relative;
  transform: translateX(10vh);
  opacity: 0;
  transition: 2s all ease;
}

.reveal-horz.active{
  transform: translateX(0);
  opacity: 1;
}

/* javascript-sticky */

.sticky {
  position: fixed;
  top: 0.5vh;
  width: 100%;
}


